/* General Styles */
.container2 {
  display: flex;
  flex-wrap: wrap; /* Allows the content to wrap on smaller screens */
}

/* Paragraph styling in the about us page */
.paragraph {
  width: 840px;
  margin: auto; /* Center the paragraph */
}

.paragraph p {
  margin-bottom: 20px;
  text-align: justify;
}

.aboutusContent {
  padding: 30px;
}

.aboutusContentDiv {
  display: flex;
  flex-wrap: nowrap; /* No wrapping on larger screens */
}

/* Accordion design in the about us page */
.accordianDiv {
  background-color: rgb(247, 245, 242);
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px;
}

.accordianDiv hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(251, 168, 13);
  border: none;
}

.accordianDiv h3 {
  color: #09501a;
  margin-left: 10px;
}

.accordianItem {
  padding-left: 20px;
  padding: 10px;
  border-bottom: dotted 1px black;
}

.accordianIcon {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  /* Add this to show hand cursor */
}

/* Table styling */
.cell1 {
  width: 350px;
  text-align: end;
  background-color: rgb(252, 252, 231);
}

.cell2 {
  width: 450px;
  background-color: #e7e4e4;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

/* ContactUs styling in the aboutus page */
.ContactUsDiv {
  background-color: rgb(247, 245, 242);
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px;
  margin-top: 5px;
}

.ContactUsDiv hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(251, 168, 13);
}

.ContactUsDiv h3 {
  color: #09501a;
}

.ContactUsDiv h4 {
  color: #09501a;
}

.ContactUsDiv div {
  padding-left: 20px;
  padding: 10px;
  border-bottom: dotted 1px black;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
  .paragraph {
      width: 100%;
  }

  .aboutusContentDiv {
      flex-direction: column;
      align-items: center;
  }

  .accordianDiv, .ContactUsDiv {
      width: 90%;
      margin: 10px 0;
  }

  .table {
      width: 100%;
  }

  .cell1, .cell2 {
      width: 100%;
      text-align: left;
  }

  .main {
      width: 100%; 
  }

  .Nav-info {
      display: none; 
  }
}

@media screen and (max-width: 768px) {
  .aboutusContent {
      padding: 20px;
  }

  .paragraph p {
      margin-bottom: 15px;
  }

  .accordianDiv, .ContactUsDiv {
      width: 100%;
  }

  table,
  th,
  td {
      padding: 8px;
  }

  .main {
      width: 100%; 
  }

  .Nav-info {
      display: none; 
  }
}

@media screen and (max-width: 480px) {
  .aboutusContent {
      padding: 15px;
  }

  .paragraph {
      padding: 10px;
  }

  .accordianDiv, .ContactUsDiv {
      width: 100%;
  }

  table,
  th,
  td {
      padding: 5px;
  }

  .main {
      width: 100%; 
  }

  .Nav-info {
      display: none; 
  }
}
