
.div1 {
  display: inline-block;
  max-height: 280px;
  max-width: 230px;
  border: solid rgb(216, 210, 210) 1px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(250, 247, 243);
  margin: 10px;
}

.div2 {
  border: solid rgb(216, 210, 210) 1px;
}

.img{
  height: 100%;
  width: 100%;
}

.div1 p{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.container{
  display: block;
  margin: auto;
  width: 80%;
}